.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

.pxl-archive-post {
	position: relative;

	+.pxl-archive-post {
		margin-top: 60px;
		@media (max-width: 1024px) {
			margin-top: 30px;
		}
	}

	iframe {
		width: 100% !important;
	}

	.content-inner-post {
		padding: 10px;
		background-color: $third_color;
		@extend .pxl-bdr-10;
	}

	.pxl-post--container {
		padding: 0 10px 15px 20px;
	}

	.pxl-item--image {
		position: relative;
		overflow: hidden;
		@extend .pxl-bdr-10;
		margin-bottom: 30px;

		img {
			@include transition(all 0.8s ease);
			transform: scale(1.01, 1.01);
			max-height: 638px;
			object-fit: cover;

			@media (max-width: 991px) {
				width: 100%;
			}
		}

		&:hover img {
			-webkit-transform: scale(1.07, 1.07);
			transform: scale(1.07, 1.07);
		}
	}

	.pxl-post--category {
		a {
			color: $primary_color;
		}
	}

	.pxl-post--meta {
		gap: 20px;
	}
	.post-date{
		position: relative;
		&::before{
			width: 6px;
			height: 6px;
			position: absolute;
			content: '';
			left: -13px;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0.2;
			background: var(--White, #FFF);
		}
	}
	.pxl-post--title {
		margin-bottom: 10px;
		a {
			color: inherit;
			font-size: inherit;
			background-repeat: no-repeat;
			background-position-y: -1px;
			background-image: linear-gradient(transparent calc(100% - 1px), $third_color 1px);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			animation: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) pxl-wide-menu-underline forwards;

			&:hover {
				animation: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) pxl-wide-menu-underline-hover forwards;
			}
		}
	}

	.pxl-video-popup {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		a {
			display: block;
			width: 77px;
			border-radius: 1000px;
			height: 77px;
			background-color: #fff;
			line-height: 77px;
			color: $secondary_color;
			text-align: center;
			@extend .pxl-sz-15;

			@media (max-width: 575px) {
				width: 50px;
				height: 50px;
				line-height: 50px;
			}

			&:hover {
				background-color: $secondary_color;
				color: #fff;
			}
		}
	}

	&.format-link {
		.content-top {
			display: flex;
			column-gap: 35px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			padding-bottom: 10px;

			@media (max-width: 575px) {
				display: block;
			}

			.link-icon {
				margin-top: 17px;

				@media (max-width: 575px) {
					margin-top: 0px;
					margin-bottom: 20px;
				}

				a {
					@extend .pxl-flex-center;
					width: 51px;
					height: 51px;
					border-radius: 1000px;
					background-color: $primary_color;

					svg {
						fill: $secondary_color;
						width: 23px;
					}
				}
			}
		}

		.content-right {
			.post-date-post {
				position: relative;
				padding-right: 17px;
				margin-right: 17px;
				padding-top: 1px;
				padding-bottom: 1px;

				&:before {
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					height: 100%;
					width: 1px;
					background-color: rgba(255, 255, 255, 0.15);
				}

			}

			.post-metas-2 {

				span,
				a {
					color: #b3c0ce;
					@extend .pxl-sz-13;
					font-weight: 400;
				}

				a:hover {
					color: #fff;
				}
			}
		}

		.content-inner-post {
			padding: 0;
			border: none;
		}

		.post-featured {
			border-radius: 20px;
			padding: 43px 45px 42px 45px;
			position: relative;
			background-color: $four_color;

			@media (max-width: 767px) {
				padding: 30px 25px;
			}

			@media (max-width: 575px) {
				padding: 30px 15px;
			}

			.post-title a,
			.post-title {
				margin-top: 23px;
				@extend .ft-theme-default;
				font-size: 26px;
				font-weight: 500;
				color: #fff;
				line-height: 36px;
				z-index: 2;

			}

			.pxl-hl-image {
				position: absolute;
				bottom: 0px;
				right: 0;
			}

			.link-text {
				margin-top: 24px;
				@extend .pxl-sz-15;
				line-height: 26px;
				color: $primary_color;
				@extend .ft-theme-default;
			}
		}
	}

	&.format-quote {
		.content-top {
			display: flex;
			column-gap: 35px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			padding-bottom: 28px;

			@media (max-width: 575px) {
				display: block;
			}

			.link-icon {
				margin-top: 17px;
				display: block;
				min-width: 51px;
				width: 51px;
				height: 51px;
				border-radius: 1000px;
				background-color: $primary_color;
				position: relative;

				span {
					width: 100%;
					height: 100%;
					text-align: center;
					line-height: 86px;
					display: block;
					font-size: 62px;
					@extend .ft-theme-default;
					font-weight: 400;
					color: $secondary_color;
				}

				@media (max-width: 575px) {
					margin-top: 0px;
					margin-bottom: 20px;
				}
			}
		}

		.content-right {
			.post-date-post {
				position: relative;
				padding-right: 17px;
				margin-right: 17px;
				padding-top: 1px;
				padding-bottom: 1px;

				&:before {
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					height: 100%;
					width: 1px;
					background-color: rgba(255, 255, 255, 0.15);
				}

			}

			.post-metas-2 {

				span,
				a {
					color: #b3c0ce;
					@extend .pxl-sz-13;
					font-weight: 400;
				}

				a:hover {
					color: #fff;
				}
			}
		}

		.content-inner-post {
			padding: 0;
			border: none;
		}

		.post-featured {
			padding: 43px 45px 40px 45px;
			position: relative;
			background-color: $four_color;
			border-radius: 20px;

			@media (max-width: 767px) {
				padding: 30px 25px;
			}

			@media (max-width: 575px) {
				padding: 30px 15px;
			}

			.quote-text a {
				margin-top: 24px;
				display: block;
				@extend .ft-theme-default;
				@extend .pxl-sz-15;
				font-weight: 400;
				color: #fff;
				line-height: 25px;
				z-index: 2;
				@include transition(all .25s cubic-bezier(.645, .045, .355, 1));
			}

			.quote-cite {
				margin-top: 21px;
				margin-bottom: 0;
				@extend .pxl-sz-15;
				line-height: 30px;
				@extend .ft-theme-default;
				font-weight: 500;
				color: $primary_color;
			}
		}
	}
}

/* End Blog Layout */

/* Blog Category Carousel */
.category-carousel {
	&.slick-slider{
		display: none;
	}
	margin-bottom: 82px;
	.category-banner {
		overflow: hidden;
		@extend .pxl-bdr-10;

		img {
			transition: 0.8s;
			width: 100%;
			object-fit: cover;
		}
	}

	.slick-track {
		margin: 0 -10px;
	}

	.category-item {
		text-align: center;
		padding: 0 10px;

		&:hover {
			.category-banner {
				img {
					transform: scale(1.05, 1.05);
				}
			}
		}

		>a {
			display: block;
			@extend .pxl-sz-16;
			font-weight: 500;
			margin-bottom: 3px;
			margin-top: 12px;
			color: $secondary_color;
		}

		.post-count {
			@extend .pxl-sz-14;
			font-weight: 400;
			display: block;
		}
	}
}

.single-post .pxl-archive-post {
	.pxl-gallery {
		margin-top: -24px;
	}

	.single-heading {
		padding-top: 13px;
		padding-bottom: 5px;
		font-size: 30px;

		@media #{$max-sm} {
			@extend .pxl-sz-22;
		}
	}

	.pxl-item--image {
		margin-bottom: 33px;

		img {
			@extend .pxl-bdr-10;
		}
	}

	.pxl-item--title {
		font-size: 40px;
		margin-bottom: 31px;

		@media #{$max-md} {
			font-size: 36px;
		}

		@media #{$max-sm} {
			font-size: 30px;
		}
	}

	.pxl-item--holder {
		margin-bottom: 35px;
	}

	.pxl-item--content {
		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}

.pxl-el-divider {
	background-color: #EBEBEB;

	&.gradient {
		background: linear-gradient(90deg, #fff 0%, #48BB3F 50%, #fff 100%);
	}
}

.post-tags-wrap {
	display: flex;
	align-items: center;
}

.post-tags-share {
	margin-top: 36px;
	justify-content: space-between;
	@media (max-width: 767px) {
		display: block !important;
	}

	>div {
		.post-shares {
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media (max-width: 767px) {
				justify-content: flex-start;
				margin-top: 20px;
			}

			.label {
				font-weight: 500;
				margin-right: 24px;
				color: #fff;
			}

			.social-share {
				.social {
					display: flex;
					align-items: center;
					column-gap: 15px;
					@include transition(all .25s cubic-bezier(.645, .045, .355, 1));

					a {
						@extend .pxl-sz-18;
						color: #424242;
						font-weight: 600;
						&:hover {
							color: #FFf;
						}
					}
				}

			}
		}

		&:hover {}
	}

	.post-share-wrap {
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: end;

		@media (max-width: 767px) {
			justify-content: start;
		}
	}

	.post-tags-wrap {
		z-index: 2;

		.post-label {
			@extend .pxl-sz-16;
			color: $secondary_color;
			text-transform: uppercase;
			margin-right: 20px;
			font-weight: 500;
		}

		.post-tags {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;

			a {
				@extend .pxl-sz-18;
				text-transform: capitalize;
				display: inline-block;
				font-weight: 600;
				padding: 11px 15px;
				border-radius: 8.362px;
				border: 1px solid var(--stroke-black-bg, rgba(255, 255, 255, 0.16));
				line-height: 1;
				@extend .ft-theme-default;
				position: relative;
				color: #fff;
				z-index: 1;
				overflow: hidden;

				&::before {
					position: absolute;
					content: '';
					width: 100%;
					top: 0;
					left: 0;
					height: 0;
					background-color: $third_color;
					@extend .pxl-transition;
					z-index: -1;
				}

				&:hover {
					color: #fff;

					&::before {
						height: 100%;
					}
				}
			}
		}
	}
}

.single-post-inner {	
	.post-title {
		margin-bottom: 13px;
		margin-top: 41px;
	}

	.pxl-item--image {
		@extend .pxl-bdr-10;
		overflow: hidden;
		img{
			width: 100%;
		}
	}

	.post-metas {
		margin-top: 32px;
		margin-bottom: 41px;

		.pxl-item--author img {
			width: 38px;
			height: 38px;
			border-radius: 38px;
			overflow: hidden;

			@media (max-width: 575px) {
				width: 30px;
				height: 30px;
			}
		}

		.pxl-item--author {
			display: flex;
			align-items: center;
			@extend .pxl-sz-14;
			font-weight: 400;

			img {
				margin-right: 11px;

			}

			span {
				color: $primary_color;
				font-weight: 500;
				margin-left: 2px;
			}
		}

		.meta-inner {
			@extend .pxl-flex-center;

			@media (max-width: 767px) {
				flex-wrap: wrap;
			}

			@media (max-width: 575px) {
				gap: 10px;
			}

			>span {
				position: relative;
				text-transform: capitalize;
				font-weight: 500;
				color: $secondary_color;
				padding-left: 20px;
				margin-left: 20px;

				@media (max-width: 1024px) {
					@extend .pxl-sz-14;
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 1px;
					background-color: #EBEBEB;
				}

				&:not(:last-child) {}
			}

			a:hover {
				text-decoration: underline;
				color: $secondary_color;
			}

			.post-comments a:hover {
				text-decoration: none;
			}
		}

	}
}

.pxl--post-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	border-bottom: 1px solid rgba(#000, 0.1);
	padding-bottom: 10px;

	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 25px;
	}

	label {
		@extend .pxl-sz-20;
		color: #051b2e;
		font-weight: 600;
		@extend .ft-theme-default;
		margin-right: 18px;
	}

	.pxl--tags {
		flex-grow: 1;

		a {
			line-height: 34px;
			display: inline-block;
			padding: 0 24px;
			background-color: #f0f0f0;
			@extend .pxl-sz-14;
			margin: 5px 5px 5px 0;
			position: relative;
			z-index: 1;

			&:hover {
				color: #fff;
				background-color: $primary_color;
			}
		}
	}

	.pxl--social {
		a {
			@extend .pxl-sz-16;
			margin-right: 14px;

			&:hover {
				color: $primary_color;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.blog,
.search,
.tag,
.categorie {
	.pxl-pagination-wrap {
		.page-numbers {
			@extend .ft-public;
			text-transform: uppercase;
			font-weight: 500;
			
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			@extend .pxl-bdr-10;
			height: 50px;
			@extend .pxl-sz-16;
			color: #fff;
			background-color: $third_color;
			@media (max-width: 575px) {
				letter-spacing: 1px;
			}

			svg {
				width: 19px;

				path {
					fill: #fff;
					
				}
			}

			&.prev {
				transform: rotate(180deg);
			}

			&:hover,
			&.current {
				color: $third_color;
				background-color: #fff;

				svg path {
					fill: $third_color;
				}
			}
		}

		.pxl-pagination-links {
			margin-top: 50px;
			width: 100%;
			display: inline-flex;
			justify-content: center;
			column-gap: 15px;
		}
	}
}


.pxl-post--navigation {
	padding: 24px 0 19px;
	margin: 0 -15px;
	color: #051b2e;
	@extend .pxl-sz-18;
	font-weight: 600;
	@extend .ft-theme-default;
	text-transform: uppercase;

	a {
		color: inherit;

		&:hover {
			color: $primary_color;
		}
	}

	i {
		font-weight: normal;
		@extend .pxl-sz-22;
		color: $primary_color;
	}

	.pxl--item {
		padding: 10px 15px;
	}

	.pxl--item-prev {
		flex-grow: 1;
	}

	.pxl--label {
		display: inline-flex;
		align-items: center;
	}
}

.pxl-post--author-info {
	padding: 30px;
	@extend .pxl-bdr-10;
	background-color: $third_color;
	margin-top: 20px;

	@media #{$max-sm} {
		display: block;
	}

	.pxl-post-inner {
		span {
			text-transform: uppercase;
			color: #999;
			@extend .pxl-sz-14;
			font-style: normal;
			line-height: 1;
			margin-bottom: 10px;
		}
	}

	.pxl-post--author-title {
		@extend .pxl-sz-20;
		font-weight: 700;
		color: #ffffff;
		@extend .ft-theme-default;

		a {
			color: inherit;

			&:hover {
				color: inherit;
			}
		}
	}

	.pxl-post--author-description {
		@extend .pxl-sz-16;
		color: #a2a2a2;
		line-height: 1.625;
		margin-top: 15px;
	}

	.pxl-post--author-image {
		width: 160px;
		min-width: 160px;

		@media #{$max-sm} {
			margin-bottom: 32px;
		}

		img {
			border-radius: 16px;
		}
	}
}

.pxl-custom-swiper {
	overflow: hidden;
	position: relative;
}

.pxl-post-gallery-slider .pxl-custom-swiper {
	border-radius: 8px 8px 0 0;

	img {
		@include border-radius(0px);
	}

	.pxl-swiper-arrow.pxl-swiper-arrow-next {
		right: 26px;
	}

	.pxl-swiper-arrow.pxl-swiper-arrow-prev {
		left: 26px;
	}
}

.page-template-default {
	.pxl-sidebar-sticky {
		border: 2px solid #efefef;
		padding: 57px 40px 70px 40px;

		@media #{$max-sm} {
			padding: 50px 30px;
		}
	}
}

.error404 {
	#pxl-main {
		padding: 0;
	}

	.pxl-error-inner {
		display: flex;
		align-items: center;
	}

	.wrap-content-404 {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;

		.content {
			width: 100%;
			display: inline-block;
			text-align: center;
			padding: 221px 15px 130px;
			@media (max-width: 960px) {
				padding: 100px 15px;
			}
			@media (max-width: 767px) {
				padding: 80px 15px;
			}
		}
	}

	.pxl-image-404{
		margin-top: 137px;
		@media (max-width: 767px) {
  			margin-top: 30px;
		}
		img{
			max-height: 600px;
		}
	}
	
	.pxl-error-title {
		color: #FFF;
		font-size: 250px;
		font-style: normal;
		letter-spacing: -5px;
		margin: 0;
		@media (max-width: 767px) {
			font-size: 80px;
		}
	}

	.pxl-error-description {
		@extend .pxl-sz-18;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 60px;
		margin-top: 40px;
		@media (max-width: 767px) {
			margin-bottom: 30px;
  			margin-top: 30px;
		}
	}

	.pxl-error-image {
		padding: 0;
	}
}

.btn--readmore {
	@extend .pxl-sz-14;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	@extend .ft-theme-default;
	display: inline-flex;
	overflow: hidden;
	position: relative;
	padding-right: 4px;

	.btn--icon {
		width: 20px;
		height: 20px;
		background-color: #646464;
		border-radius: 20px;
		color: #fff;
		position: relative;
		@extend .pxl-sz-16;
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 20px;
		}
	}

	.btn--backdrop,
	.btn--front {
		display: inline-flex;
		align-items: center;
		@include transition(all .25s cubic-bezier(.3, .3, 0, .8));
		position: relative;
	}

	.btn--backdrop {
		transform: translateY(101%);
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;

		.btn--text {
			@extend .text-gradient;
		}

		.btn--icon {
			@include background-horizontal($gradient_color_from, $gradient_color_to);
		}
	}

	&:hover {
		color: #646464;

		.btn--backdrop {
			transform: translateY(0%);
		}

		.btn--front {
			transform: translateY(-101%);
		}
	}
}

.page-links {
	margin-top: 24px;
	clear: left;

	.post-page-numbers {
		width: 36px;
		height: 36px;
		background-color: #fff;
		line-height: 36px;
		text-align: center;
		@extend .pxl-sz-15;
		font-weight: 600;
		display: inline-block;
		margin: 15px 15px 0 0;
		color: #080808;
		position: relative;
		z-index: 1;
		padding: 0;
		border: 1px solid #e9e9e9;
		@extend .ft-theme-default;
		@include border-radius(0px);

		&.current,
		&:hover {
			color: #fff;
			border-color: $primary_color;
			background-color: $primary_color;
		}
	}
}

.pxl-post-row {
	padding-top: 4px;
	margin-bottom: -56px;

	>div {
		margin-bottom: 30px;

		>p {
			margin-bottom: 0 !important;
		}
	}
}

.pxl-has-sidebar {
	.pxl-sidebar-area {
		@media #{$min-xl} {
			padding-left: 15px;
		}
	}

	.pxl-content-area {
		@media #{$min-xl} {
			padding-right: 15px;
		}
	}
}

////
.pxl-project--navigation {
	margin-top: 74px;
	padding: 0 15px;
	width: 100%;

	@media (max-width: 767px) {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.pxl--items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.pxl--item-prev a,
	.pxl--item-next a {
		display: flex;
		align-items: center;
		font-weight: 500;
		@extend .pxl-sz-16;
		color: #051b2e;
		text-transform: uppercase;
		letter-spacing: 3.2px;
		column-gap: 20px;
		@include transition(all .25s cubic-bezier(.645, .045, .355, 1));

		@media (max-width: 575px) {
			font-size: 0;
		}

		@media (min-width: 576px) {
			min-width: 230px;
		}

		i {
			@include transition(all .25s cubic-bezier(.645, .045, .355, 1));
			display: block;
			width: 61px;
			height: 61px;
			line-height: 61px;
			text-align: center;
			@extend .pxl-sz-16;
			background-color: $secondary_color;
			color: #fff;
		}

		&:hover {
			color: $primary_color;

			i {
				background-color: $primary_color;
			}
		}
	}

	.pxl--item-grid a {
		display: inline-block;
		width: 26px;
		height: 26px;
		position: relative;
		@include transition(all .4s cubic-bezier(.645, .045, .355, 1));

		.bl {
			position: absolute;
			width: 8px;
			height: 8px;
			background-color: $primary_color;
			@include transition(all .4s cubic-bezier(.645, .045, .355, 1));

			&.bl1 {
				top: 0;
				left: 0;
			}

			&.bl2 {
				top: 0;
				right: 0;
			}

			&.bl3 {
				bottom: 0;
				right: 0;
			}

			&.bl4 {
				bottom: 0;
				left: 0;
			}
		}

		&:hover {
			transform: scale(0.8);

			.bl {
				background-color: $secondary_color;
			}
		}
	}
}


.single-next-prev-nav {
	padding-top: 60px;

	.grid-archive {
		.nav-archive-button {
			display: flex;
			align-items: center;
			gap: 10px;

			.archive-btn-square {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #D9D9D9;

				&.square-2 {
					width: 10px;
					height: 10px;
					background-color: $primary_color;
				}
			}
		}
	}

	.nav-next-prev {
		display: flex;
		align-items: center;

		&:hover {
			.nav-inner {
				.nav-label-wrap {
					background-color: $primary_color;
					box-shadow: none;

					i {
						color: #fff;
					}

					svg path {
						fill: #fff;
					}
				}
			}
		}

		&.next {
			.nav-inner {
				flex-direction: row-reverse;
				text-align: right;
			}
		}

		.nav-inner {
			display: flex;
			gap: 20px;

			>a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}

			.nav-title-wrap {
				flex-direction: column;
			}

			.nav-title {
				@extend .pxl-sz-24;
				max-width: 250px;
				letter-spacing: -0.48px;
				margin-top: 8px;
			}

			.nav-label {
				text-transform: lowercase;
			}

			.nav-label-wrap {
				width: 50px;
				@include transition(all .4s cubic-bezier(.505, .045, .355, 1));
				height: 50px;
				@extend .pxl-bdr-10;
				display: inline-flex;
				background: #ffffff;

				i {
					color: #000000;
					font-size: 16px;
					@include transition(inherit);
				}
			}
		}
	}
}



.layout-service-list-1 {
	.list-item-inner {
		border-width: 1px 0 0;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.16);
		padding: 60px 0;

		>div {
			@extend .pxl-flex;
		}

		&:last-child {
			border-width: 1px 0 1px;
		}

		.pxl-item--top,
		.pxl-item--bottom {
			overflow: hidden;
			@extend .pxl-tsn;
		}

		.pxl-item--top {
			opacity: 1;

			@media (max-width: 959px) {
				display: none;
			}
		}

		.pxl-item--bottom {
			opacity: 0;

			@media (max-width: 959px) {
				opacity: 1;
				flex-wrap: wrap;
				gap: 30px;
			}
		}

		&.active {
			.pxl-item--top {
				opacity: 0;
			}

			.pxl-item--bottom {
				opacity: 1;
			}
		}
	}

	.pxl-post-icon-wrap {
		@extend .pxl-flex;
		flex-wrap: wrap;
		gap: 10px;
		min-width: 500px;

		@media (max-width: 959px) {
			min-width: 100%;
			flex-wrap: wrap;
		}

		.pxl-post--icon {
			width: 160px;
			height: 160px;
			@media (max-width: 959px) {
				width: 25%;
				height: 25%;
			}
			&:has(img) {
				position: relative;
				&:hover {
					a {
						opacity: 1;
					}
				}

				a {
					position: absolute;
					inset: 0;
					@extend .pxl-flex-center;
					opacity: 0;
					@extend .pxl-tsn;
				}
			}
		}
	}

	.pxl-item--top {
		.pxl-post--title {
			color: rgba(#fff, 0.5);
		}

		.pxl-item-number {
			color: rgba(#fff, 0.16);
		}

	}

	.pxl-item--bottom {
		.pxl-item-number {
			color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $secondary_color;
		}
	}

	.pxl-item-content {
		margin-right: 80px;

		@media (max-width: 1025px) {
			margin-right: 30px;
		}

		@media (max-width: 959px) {
			margin-right: 0px;
		}
	}

	.pxl-item-number {
		font-size: 64px;
		margin-right: 80px;
		margin-bottom: 0;

		@media (max-width: 1025px) {
			font-size: 45px;
			margin-right: 30px;
		}
		@media (max-width: 959px) {
			width: 100%;
		}
	}

	.pxl-post--title {
		font-size: 64px;
		color: rgba(#fff, 1);
		margin-bottom: 20px;

		@media (max-width: 1025px) {
			font-size: 45px;
		}
	}

	.pxl-post--content {
		margin-bottom: 50px;

		@media (max-width: 959px) {
			margin-bottom: 30px;
		}
	}

	.btn--readmore.btn {
		line-height: 48px;

		&:hover {
			i {
				-webkit-animation: hide_hover_icon 0.5s forwards;
				animation: hide_hover_icon 0.5s forwards;
				-webkit-animation-delay: 0.1s;
				animation-delay: 0.1s;
			}
		}
	}
}

.layout-service-list-2 {
	.pxl-list-inner {
		border: 1px solid rgba(255, 255, 255, 0.16);

		.list-item-inner {
			border-bottom: 1px solid rgba(255, 255, 255, 0.16);
			@extend .pxl-tsn;

			&:last-child {
				border-color: transparent;
			}
		}
	}

	.pxl-item--bottom {
		@extend .pxl-flex;
		padding: 40px;

		// @media (max-width: 1025px) {
		// 	flex-direction: column;
		// 	gap: 15px;
		// }

		@media (max-width: 768px) {
			padding: 15px;
			flex-wrap: wrap;
			gap: 15px;
		}

		.pxl-item-icon {
			margin: 0 150px 0 0;

			@media (max-width: 1025px) {
				margin: 0 15px 0 0;
			}

			svg {
				fill: $secondary_color;
			}
		}
	}

	.pxl-item-content{
		@media (max-width: 768px) {
			width: 50%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	.pxl-post--featured {
		max-width: 300px;
		min-width: 300px;
		margin-right: 30px;
		@media (max-width: 768px) {
			width: 50%;
		}
	}

	.pxl-post--title {
		min-width: 345px;

		@media (max-width: 1025px) {
			min-width: 245px;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.tags-list {
		@extend .pxl-flexcl;
		gap: 6px;
		font-weight: 600;
		margin-top: 53px;

		@media (max-width: 1279px) {
			margin-top: 15px;
		}

		span {
			padding: 2px 12px;
			@extend .pxl-flex-center;
			border-radius: 40px;
			border: 1px solid var(--stroke-black-bg, rgba(255, 255, 255, 0.16));
		}
	}
}

.layout-service-list-3 {
	.list-item-inner{
		border-top: 1px solid rgba(255, 255, 255, 0.16);
		padding: 50px 0;
		&:last-child{
			border-bottom: 1px solid rgba(255, 255, 255, 0.16);
		} 
	}
	.pxl-icon-number {
		@extend .pxl-inline-flex;
		gap: 4px;
		flex-wrap: nowrap;

		span {
			width: 6px;
			height: 6px;
			background-color: rgba(#fff, 0.16);
		}
	}

	@for $i from 1 through 5 {
		.pxl-icon-number-#{$i} {
			@extend .pxl-icon-number;
			@for $j from 1 through $i {
				span:nth-last-child(#{$j}) {
					background-color: $primary_color;
				}
			}
		}
	}
	.list-item-inner{
		position: relative;
		&::before{
			content: "\f078";
			font-family: "Font Awesome 5 Free";
  			font-weight: 900;
			position: absolute;
			right: 0;
			top: 47px;
			@extend .pxl-tsn;
		}
		.pxl-footer-item{
			overflow: hidden;
			@extend .pxl-tsn;
			opacity: 0;
		}
		@media (max-width: 959px) {
			.pxl-post--content {
				padding-bottom: 40px;
			}
			.pxl-footer-item{
				
				opacity: 1;
			}
		}
		&.active{
			&::before{
				transform: rotate(180deg);
			}
			.pxl-post--content {
				padding-bottom: 40px;
			}
			.pxl-footer-item{
				
				opacity: 1;
			}
		}
	}
	.pxl-item--inner{
		@extend .pxl-flex;
		gap: 80px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			gap: 30px;
		}
	}
	.pxl-post--title{
		margin-bottom: 16px;
	}
	.pxl-post--content {
		max-width: 410px;
	}

	.pxl-post--icon {
		width: 250px;
		height: 200px;
		@media (max-width: 575px) {
			width: auto;
		}
		img {
			width: 250px;
			height: 200px;
			object-fit: cover;
			border-radius: 10px;
		}

		&:has(img) {
			position: relative;

			&:hover {
				a {
					opacity: 1;
				}
			}

			a {
				position: absolute;
				inset: 0;
				@extend .pxl-flex-center;
				opacity: 0;
				@extend .pxl-tsn;
			}
		}
	}

	.pxl-item-icon {
		display: inline;
	}

	.pxl-post-icon-wrap {
		@extend .pxl-inline-flex;
		gap: 20px;
		
	}

	.pxl-footer-item {
		@extend .pxl-flex;
		gap: 30px;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}
	}

	.pxl-list {
		@extend .pxl-flexcl;
		gap: 8px;
		justify-content: center;

		span {
			line-height: 27px;
		}

		i {
			color: $primary_color;
			@extend .pxl-sz-21;
		}
	}
}

.layout-service-list-4{
	.list-item-inner{
		padding: 40px 0;
		border-top: 1px solid rgba(255, 255, 255, 0.16);
		&:last-child{
			border-bottom: 1px solid rgba(255, 255, 255, 0.16);
		}
	}
	.tags-list{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 41px;
		span{
			color: #fff;
			@extend .pxl-sz-14;
			font-weight: 600;
			padding: 10px 20px;
			border-radius: 100px;
			border: 1px solid rgba(255, 255, 255, 0.16);
			line-height: 1;
			text-transform: capitalize;
		}
	}
	.pxl-item--inner{
		justify-content: space-between;
		gap: 15px;
		@media (max-width: 991px) {
			flex-wrap: wrap;
			gap: 30px;
		}
	}
	.pxl-item-content{
		width: 481px;
	}
	.pxl-post--content{
		line-height: 1;
	}
	.pxl-item--desc{
		width: 224px;
		>div{
			@extend .pxl-sz-14;
			line-height: 1;
		}
		.pxl-yg-lever{
			color: $primary_color;
			margin-bottom: 32px;
		}
		.pxl-yg-duration{
			color: $secondary_color;
		}
		.pxl-item-title{
			margin: 12px 0 0 0;
			@extend .pxl-sz-24;
		}
	}
	.pxl-footer-item{
		img{
			max-width: 260px;
			object-fit: contain;
			@media (max-width: 480px) {
				max-width: 100%;
			}
		}
	}
}

.layout-portfolio-list-1{
	.pxl-post--inner{
		position: sticky;
		top: 30px;
		+.pxl-post--inner{
			margin-top: 20px;
		}
	}
	.pxl-post--featured {
		position: relative;
		overflow: hidden;
		max-height: calc(100vh - 50px);
		.pxl-post--icon{
			position: absolute;
			top: 40px;
			left: 40px;
			z-index: 1;
			@media (max-width: 480px) {
				top: 20px;
  				left: 20px;
			}
			img{
				max-height: 30px;
				object-fit: contain;
			}
		}
		.pxl-item--holder h4{
			position: absolute;
			width: calc(100% - 80px);
			@extend .pxl-flex;
			z-index: 1;
			justify-content: space-between;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 40px;
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
			@media (max-width: 580px) {
				@extend .pxl-sz-20;
			}
			@media (max-width: 480px) {
				@extend .pxl-sz-16;
				flex-direction: column;
    			gap: 15px;
				width: calc(100% - 40px);
			}
		}
	}
	.pxl-post--title{
		margin: 0 0 8px;
	}
	.pxl-post--category{
		a{
			&:hover{
				color: $primary_color;
			}
		}
	}
}